@import 'suitcss-components-arrange';

.Nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 50px;
  margin-bottom: 31px;
  padding: 1em 0;
  display: block;
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875em;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}
.Nav a {
  color: var(--gray);
}
.Nav a:focus, .Nav a:active, .Nav a:hover {
  color: var(--dark-gray);
}
.Nav-Right {
  margin-right: 1em;
}
.Nav-Right > div > ul > li {
  float: right;
  margin-left: 1em;
  line-height: 38px;
}

.HeaderLogo {
  margin-top: 5px;
  height: 28px;
}
.Avatar {
  border-radius: 100%;
  /*border: 1px solid var(--gray);*/
}


.NavMessageItem {
  width: 25em;
  text-transform: capitalize;
  border-bottom: 1px solid var(--gray);
  padding: 0.3em 0;
}
.NavMessageItem--Header {
  margin-bottom: 0.5em;
  font-weight: 800;
}
.NavMessageItem--Date {
  float: right;
}
.NavMessageItem--Body {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
