@import './src/css/variables';
@import 'suitcss-base';
@import 'suitcss-utils';
@import './src/css/button';
@import './src/css/drop';

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--serif);
  line-height: 1.42857143;
  color: var(--gray);
  background-color: var(--not-white);
}

a {
  color: var(--blue);
  text-decoration: none;
}

.u-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media (--lg-viewport) {
  .u-lg-hidden {
    display: none !important
  }
}
@media (--md-viewport) {
  .u-md-hidden {
    display: none !important
  }
}
@media (--sm-viewport) {
  .u-sm-hidden {
    display: none !important
  }
}

.Badge {
  background-color: var(--blue);
  border-radius: 1rem;
  padding: 2px .5rem;
  line-height: 2;
  color: white;
  height: 25px;
  text-align: center;
  margin-left: .5rem;
}

@import './index.css';
