.Button {
  display: inline-block;
  position: relative;
  height: 38px;
  padding: 0 16px;
  outline: 0;

  background: rgba(0,0,0,0);
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: 999em;

  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  transition: 100ms background-color,100ms border-color,100ms color;

  color: var(--gray);
  font-family: var(--sans-serif);
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}
.Button:focus, .Button:active, .Button:hover {
  color: var(--dark-gray);
  border-color: var(--dark-gray);
}
.Button--Admin {
  color: var(--admin) !important;
  border-color: var(--admin) !important;
}
.Button--Admin:focus, .Button--Admin:active, .Button--Admin:hover {
  color: var(--admin-dark ) !important;
  border-color: var(--admin-dark) !important;
}
.Button--Nav {
  margin-top: -4px;
}
.Button--Round {
  width: 38px;
  padding: 0;
}
